@model List<Model.EF.Menu>


<div class="btn-group">

    @{
        var session = (UserLogin)Session[ThucHanh2MVC.Common.CommonStatic.USER_SESSION];
    }

    @if (session == null)
    {
        <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
            <i class="fa fa-user" style="color: orange"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }
        </ul>
    }
    else
    {
        <ul>
            <li>Xin chào: @session.UserName</li>
            <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
        </ul>
    }
</div>
