@model PagedList.IPagedList<Model.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{

}
@section jsFooter{

    <script src="/Assets/admin/js/controller/userController.js"></script>
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-4">
                            <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                        </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn-success">Tìm Kiếm</button>
                        <a class="btn btn-primary" href="/Admin/User/Create">Thêm mới</a>
                        </div>
                    @*<a class="btn btn-primary" href="/Admin/User/Create">Thêm mới</a>*@
                </div>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Tài Khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng thái</th>
                        <th>Cập nhật</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Tài Khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng thái</th>
                        <th>Cập nhật</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr id="row_@i.ID">

                            <td>@i.UserName</td>
                            <td>@i.Name</td>
                            <td>@i.Email</td>
                            <td>@i.CreatedDate</td>
                            <td><a href="#" class="btn-active" data-id="@i.ID">@(i.Status ? "Kích hoạt" : "Khóa")</a></td>
                            <td>
                                <a href="/admin/User/Edit/@i.ID">Chỉnh sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete",new { @id = i.ID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa bản ghi này?",
                               OnComplete = "$('row_"+@i.ID+"').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
        </div>
    </div>
</div>