
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var products = (List<Model.EF.Product>)ViewBag.allProduct;
    
}
@section leftMenu{
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2>Danh Mục Sản Phẩm</h2>

            @{Html.RenderAction("ProductCategory", "Product");}
            @{Html.RenderAction("Trademark", "Product");}
        </div>
    </div>
}
<div class="col-sm-9 padding-right">


        <div class="row">
            @foreach (var item in products)
            {
                var url = "/san-pham/" + item.MetaTile + "-" + item.ID;
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="@url"><img src="@item.Images" alt="@item.Name" /></a>
                                @if (item.PromotionPrice == null)
                                {
                                    <h3>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") đ</h3>
                                }
                                else
                                {
                                    <h6><del>@item.Price.Value.ToString("N0") đ</del></h6><h4>@item.PromotionPrice.Value.ToString("N0") đ</h4>
                                    
                                }
                                <p>@(item.Name + " " + item.Code)</p>
                                <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            </div>
                            <img src="/Assets/client/images/home/new.png" class="new" alt="" />
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Yêu Thích</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>So Sánh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }



        </div>

    </div>