@model IEnumerable<Model.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="col-sm-9 padding-right">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                kết quả tiềm kiếm theo @ViewBag.Keyword
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        @foreach (var item in Model)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="@url"><img src="@item.Images" alt="@item.Name" /></a>
                            @if (item.PromotionPrice == null)
                            {
                                <h3>@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ") đ</h3>
                                @*<p>@(item.Name + " " + item.Code)</p>*@
                                <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            }
                            else
                            {
                                <h6><del>@(item.Price.Value.ToString("N0")) đ</del></h6>
                                <h4>@item.PromotionPrice.Value.ToString("N0") đ</h4>
                                @*<p>@(item.Name + " " + item.Code)</p>*@
                                <a href="/them-gio-hang?productId=@item.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            }
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    @if (ViewBag.TotalPage > 1)
    {
        var pageDisplay = (int)ViewBag.MaxPage;
        int totalPage = (int)ViewBag.TotalPage;
        int currentPage = (int)ViewBag.Page;

        //Create numeric links
        var startPage = Math.Max(1, currentPage - pageDisplay / 2);
        var endPage = Math.Min(totalPage, currentPage + pageDisplay / 2);

        var link = "/tim-kiem?keyword=/" + ViewBag.Keyword;


        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li>
                            <a href="@link&page=@ViewBag.First" title="Trang đầu">Trang đầu</a>
                        </li>
                        <li>
                            <a href="@link&page=@ViewBag.Prev" title="Trang trước">&laquo;</a>
                        </li>
                    }

                    @*<li class="active">
                            <a href="#">1</a>
                        </li>*@
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        if (currentPage == i)
                        {
                            <li class="page-item active"><a class="page-link" href="@link&page=@i" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link&page=@i" title="Trang @i">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li>
                            <a href="@link&page=@ViewBag.Next" title="Trang sau">&raquo;</a>
                        </li>
                        <li>
                            <a href="@link&page=@ViewBag.Last" title="Trang cuối">Trang cuối</a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <span>Không có sản phẩm nào</span>
    }


    <!-- /.row -->
</div>
<!-- /.container -->