@model PagedList.IPagedList<Model.EF.User>
    @using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    danh sách
}
<h2>Index</h2>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Thông Tin</th>
                        <th>Tài Khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Ngày Tạo</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Thông Tin</th>
                        <th>Tài Khoản</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Ngày Tạo</th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr id="row_@i.ID">
                            <td>
                                <a href="/admin/User/Edit/@i.ID">Chỉnh sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete",new { @id = i.ID }, new AjaxOptions
                           {
                               Confirm= "Bạn có muốn xóa bản ghi này?",
                               OnComplete = "$('row_"+@i.ID+"').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                            <td>@i.UserName</td>
                            <td>@i.Name</td>
                            <td>@i.Email</td>
                            <td>@i.CreatedDate</td>
                            
                            
                        </tr>
                    }
                </tbody>
            </table>

            @Html.PagedListPager(Model,page => Url.Action("Index", new { page}))
        </div>
    </div>
</div>