@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RelatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
}



<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="@Model.Images" alt="@Model.Name" />
                @*<h3>ZOOM</h3>*@
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href=""><img src="/Assets/client/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="/Assets/client/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="/Assets/client/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="/Assets/client/images/product-details/similar3.jpg" alt=""></a>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <img src="/Assets/client/images/product-details/new.jpg" class="newarrival" alt="" />

                <h2>@(Model.Name + " " + Model.Code)</h2>
                <p>Mã sản phẩm: @Model.Code</p>
                <img src="images/product-details/rating.png" alt="" />
                <span>
                    @if (Model.PromotionPrice == null)
                    {
                        <h4>@(Model.Price.HasValue ? @Model.Price.Value.ToString("N0") : "Liên hệ") đ</h4>
                    }
                    else
                    {
                        <h6><del>@Model.Price.Value.ToString("N0") đ</del></h6>
                        <h4>@Model.PromotionPrice.Value.ToString("N0") đ</h4>
                    }

                    <label>Số lượng:</label>
                    <input type="text" value="@Model.Quantity" />
                    <a href="/them-gio-hang?productId=@Model.ID&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                </span>
                @if (Model.Quantity == 0)
                {
                    <p><b>Tình trạng:</b> <span style="color:red">Chỉ có ở cửa hàng</span></p>
                }
                <p><b>Hàng:</b> Mới</p>
                <p><b>Hiệu:</b> @Model.BrandId</p>
                @*<a href=""><img src="/Assets/client/images/product-details/share.png" class="share img-responsive" alt="" /></a>*@
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Thông tin sản phẩm</a></li>

                <li class="active"><a href="#reviews" data-toggle="tab">Đánh giá (5)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="details">
                <p><b>MÀU SẮC :</b></p>
                <p><b>NHÃN HIỆU :</b></p>
                <p><b>DÀNH CHO :</b></p>
                <p><b>CHẤT LIỆU :</b></p>
                <p><b>LOẠI SẢN PHẨM :</b></p>
                <p><b>QUỐC GIA :</b></p>
                <p><b>MODEL :</b></p>
            </div>



            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                        <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p><b>Viết đánh giá</b></p>

                    <form action="#">
                        <span>
                            <input type="text" placeholder="Tên của bạn" />
                            <input type="email" placeholder="Email" />
                        </span>
                        <textarea name=""></textarea>
                        <b>Rating: </b> <img src="/Assets/client/images/product-details/rating.png" alt="" />
                        <button type="button" class="btn btn-default pull-right">
                            Gửi
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div><!--/category-tab-->

    <div class="recommended_items">
        <!--recommended_items-->
        <h2 class="title text-center">Sản phẩm liên quan</h2>

        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="item active">
                    @foreach (var item in RelatedProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTile + "-" + item.ID;
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@url"><img src="@item.Images" alt="@item.Name" /></a>
                                        @if (item.PromotionPrice == null)
                                        {
                                            <h4>@(item.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ") đ</h4>
                                        }
                                        else
                                        {
                                            <h6><del>@item.Price.Value.ToString("N0") đ</del></h6>
                                            <h4>@item.PromotionPrice.Value.ToString("N0") đ</h4>
                                        }
                                        <p>@(item.Name + " " + item.Code)</p>
                                        <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @*<div class="item">
                        @foreach (var item in RelatedProducts)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@item.Images" alt="@item.Name" />
                                            @if (item.PromotionPrice == null)
                                            {
                                                <h4>@(Model.Price.HasValue? Model.Price.Value.ToString("N0") : "Liên hệ") đ</h4>
                                            }
                                            else
                                            {
                                                <h6><del>@Model.Price.Value.ToString("N0") đ</del></h6>
                                                <h4>@Model.PromotionPrice.Value.ToString("N0") đ</h4>
                                            }

                                            <p>@item.Name</p>
                                            <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>*@
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div><!--/recommended_items-->

</div>
